body {
    border: 2px dashed black;
    padding: 20px;
}
header {
    font-size: 500%;
    text-align: center;
}

#addTrainInfo {
    border: 2px solid yellow;
}

::placeholder {
    opacity: 1;
    color: pink;
  }