body {
    border: 2px dashed black;
    padding: 20px;
}
header {
    font-size: 500%;
    text-align: center;
}

h3 {
    border: 2px solid black;
    background-color: bisque
}

#tableDiv {
    border: 2px solid brown;
    margin-top: 5%;
    padding: 2%;
}

#addTrainInfo {
    border: 2px solid brown;
    margin-top: 5%;
    padding: 2%;
}